*{
    margin: 0;
    padding: 0;
    font-family: 'Tinos', serif;
    scroll-behavior: smooth;
}
/*
Sticky navbar
*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header .navbar{
    position: relative;
    font-weight: 700;
    color: aliceblue;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

/*
Full viewport container with animated background for home
*/
.home-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    animation: animate 40s  infinite;
}
/*
Full viewport container for file creation
*/
.charachter-file-constructor-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/modelExample.png);
}
.weapon-file-constructor-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/modelExample.png);
}
.armor-file-constructor-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/modelExample.png);
}
.misc-file-constructor-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/modelExample.png);
}

.fileConstructor{
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: rgba(97, 96, 96, 0.445);
    border-radius: 5%;
    margin: 10%;
    padding: 5%;
    max-width: 30vw;
    max-height: 80vh;

}
/* Individual file constructor containers */

/* #charachter{
    opacity: 1;
    background-color: rgba(97, 96, 96, 0.445);
    border-radius: 5%;
}
#weapon{
    opacity: 1;
    background-color: rgb(38, 0, 255);
}
#armor{
    opacity: 1;
    background-color: rgb(21, 151, 101);
}
#misc{
    opacity: 1;
    background-color: rgb(200, 255, 0);
} */


section h3 {
    color: rgb(240, 192, 88);
    margin-bottom: 2vh;
}
section label{
    text-align: center;
    margin-bottom: 1vh;
}
section input{
    font-size: 1em;
    padding: 5%;
    color: aliceblue;
    border: none;
    background-color: #0d0d0e;
    box-shadow:1px 1px 3px 3px rgba(240, 248, 255, 0.486);
}
section textarea{
    font-size: 1em;
    padding: 5%;
    color: aliceblue;
    border: none;
    background-color: #0d0d0e;
    resize: none;
    overflow: hidden;
    box-shadow:1px 1px 3px 3px rgba(240, 248, 255, 0.486); 
}


/* 
Drop down menue for file constructors
*/
.selectBox{
    display: flex;
    flex-direction: column;
    margin-left: 9.80vw;
    margin-bottom: 60vh;
    max-width: 60%;
}
.selectBox .option,.selected{
    cursor: pointer;
}
.selectBox .optionContainer{
    background-color: #8b71a3;
    color: aliceblue;
    max-height: 0;
    opacity: 0; 
    transition: all 0.4s;
    overflow: hidden;

    order: 1;
}

.selected{
    background-color: rgba(145, 145, 145, 0.87);
    margin-bottom: 1vh;
    color: rgb(240, 192, 88);
    position: relative;
    font-size: 1.5em;

    order: 0;
}
.selectBox .option:hover{
    background-color: #a391b4;
}
.selectBox .option .radio {
    display: none;
}
.selectBox .optionContainer.active{
    max-height: 4vh;
    opacity: 1;
    overflow-y: scroll;
}
.selectBox .optionContainer::-webkit-scrollbar{
    background-color: #33283d;
    width: 1vw;
}
.selectBox .optionContainer::-webkit-scrollbar-thumb{
    background-color: #544563;
}
/*
Animation keyframe for background slider
*/
@keyframes animate{
    0%,100%{
        background-image: url(images/background1.png);
    }
    25%{
        background-image: url(images/background2.png);
    }
    50%{
        background-image: url(images/background3.png);
    }
    75%{
        background-image: url(images/background4.png);
    }
}
.row{
    display:flex;
    height: 88%;
    align-items: center;
}
.column{
    flex-basis: 50%;
}
h1{
    color: aliceblue;
    font-size: 5em;
    margin-left: 20%;
}
@media only screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
  }
/*
 Resource Pack Download Button
*/
.resource-pack-download{
    width: 30vw;
    color: black;
    font-size: 1.8em; 
    padding: 12px 0;
    background:aliceblue;
    border: 0;
    margin-left: 20%; 
    margin-top: 10px;
    border-radius: 40px;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .resource-pack-download {
      font-size: 1em;
    }
  }
button a:link{
    color: black;
    text-decoration: none;
}
button a:hover{
    color: rgb(167, 124, 7);
    text-decoration: none;
}

.fileDownloader{
    width: 10vw;
    color: aliceblue;
    font-size: 1.8em; 
    padding: 12px 0;
    background:#0d0d0e;
    border: 0;
    margin-top: 10px;
    border-radius: 40px;
    cursor: pointer;
}
/*
Button Jiggle Animation
*/
.jello-horizontal:active{-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-2 17:8:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
